<ion-content >
  <ion-grid fixed>
    <ion-row>
     <ion-col>Peliculas Nuevas</ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-backdrop [peliculas]="peliculasNuevas"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col> Cartelera</ion-col>
    </ion-row>
  </ion-grid>
  <app-slide-show-poster [peliculas]="peliculasNuevas"></app-slide-show-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col> Populares</ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [peliculas]="populares"></app-slideshow-pares>
</ion-content>
